/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme_light {
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.40);
  --text-main-color: #353430;
  --text-subheader-color: #353430;
  --text-subheader-color-nobg: #353430;
  --bg-color: #FFF1F7;
  --text-header-color: #FFC2E6;
  --text-header-shadow-color: #FF8DCB;
  --edge-decor-color: #353430;
}

.page.theme_light {
  --accent-color: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: rgba(50, 49, 45, 0.40);
  --text-main-color: #353430;
  --text-subheader-color: #353430;
  --text-subheader-color-nobg: #353430;
  --bg-color: #FFF1F7;
  --text-header-color: #FFC2E6;
  --text-header-shadow-color: #FF8DCB;
  --edge-decor-color: #353430;
  color: var(--text-main-color);
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-light.png);
    /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
    */
}

.page.theme_light .header__grid_top::before {
  display: none;
}

.page.theme_light .header__grid_top::after {
  display: none;
}

/* Остальные стили */

@media (prefers-color-scheme: light) {

  :root {

    --accent-color: #FF8DCB;
    --button-color: #353430;
    --button-hover-color: rgba(50, 49, 45, 0.40);
    --text-main-color: #353430;
    --text-subheader-color: #353430;
    --text-subheader-color-nobg: #353430;
    --bg-color: #FFF1F7;
    --text-header-color: #FFC2E6;
    --text-header-shadow-color: #FF8DCB;
    --edge-decor-color: #353430;

  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .page.theme_auto .header__grid_top::before {
    display: none;
  }
  
  .page.theme_auto .header__grid_top::after {
    display: none;
  }
}

.header__text_xl.theme_light {
  color: var(--text-header-color);
  text-shadow: 4px 4px 0px var(--text-header-shadow-color);
}

.header__text_xl_footer.theme_light {

  text-shadow: 2px 2px 0px var(--text-shadow-color-secondary);
}

.header__theme-menu-button_active {
  pointer-events: none;
}
